<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-3">
  </div>
  <div class="col-3">
    <% @blog.images.each do |image| %>
      <%= image_tag image.variant(resize:'300x300') %>
    <% end %>
  </div>
  <div class="col-6">
    <table class="table w-50">
      <tbody>
          <tr>
            <th>ブログ名</th>
            <td><%= @blog.name %></td>
          </tr>
          <tr>
            <th>ブログ内容</th>
            <td><%= @blog.content %></td>
          </tr>
      </tbody>
    </table>
    </div>
</div><hr>
<%= link_to 'Edit', edit_blog_path(@blog),class:"btn btn-success" %> |
<%= link_to 'Back', blogs_path %>
